<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tcc.cosangueapp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="tcc.cosangueapp.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="tcc.cosangueapp.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/logo_materialdesign"
        android:label="@string/app_name"
        android:theme="@style/PrimayAndAccentColorsEqual">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/CHAVE_ACESSO_GOOGLE_MAPS" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/CHAVE_ACESSO_GOOGLE_MAPS" />

        <activity
            android:name=".activities.Abertura"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Inicio"
            android:label="@string/title_activity_inicio"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".activities.Cadastro"
            android:label="@string/title_activity_cadastro"
            android:parentActivityName=".activities.Inicio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Inicio" />
        </activity>
        <activity
            android:name=".activities.PaginaInicial"
            android:label="@string/title_activity_pagina_inicial"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="tcc.cosangueapp" />
            </intent-filter>
        </receiver>

        <service android:name=".gcm.GcmIntentService" />

        <activity
            android:name=".activities.Informacoes"
            android:label="@string/title_activity_informacoes"
            android:parentActivityName=".activities.PaginaInicial"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PaginaInicial" />
        </activity>
        <activity
            android:name=".activities.DetalhesEventos"
            android:label="@string/title_activity_detalhes_eventos"
            android:parentActivityName=".activities.PaginaInicial">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PaginaInicial" />
        </activity>


        <activity
            android:name=".activities.AdicionaEvento"
            android:label="@string/title_activity_adiciona_evento"
            android:parentActivityName=".activities.PaginaInicial"
            android:theme="@style/PrimayAndAccentColorsEqual">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PaginaInicial" />

        </activity>
    </application>

</manifest>
